services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DB_USER=${DB_USER}
        - DB_PASSWORD=${DB_PASSWORD}
        - DB_HOST=${DB_HOST}
        - DB_PORT=${DB_PORT}
        - DB_NAME=${DB_NAME}
        - DB_SSL=${DB_SSL}
    container_name: executivedashboard
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_SSL=${DB_SSL}
    env_file:
      - .env.local
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
